
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; width: 100%; min-width: 728px;}

html, button, input, select, textarea { font-family: "Arial Rounded MT Bold"; color: #222;
 }

body { margin: 0; background-color: #000000;
	font-family:"メイリオ", Meiryo,sans-serif,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
    font-size:20px;
    color: #ffffff;
    }


h1 {
	text-align: center;
	font-size: 40px;
	font-weight: normal; 
	font-style: normal;
	color: #ffffff;
}


.title {
	width: 616px;
}


.kento {
	width: 144px;
}

.p_title {
	text-align: center;
	font-size: 32px;
	font-weight: normal; 
	font-style: normal;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 5px;
}


.back{
	position: absolute;
	top: 580px;
	left: 50%;
	margin-left: -300px;
	font-size: 20px;
}


.next{
	position: absolute;
	top: 580px;
	left: 50%;
	margin-left: 190px;
	font-size: 20px;
}


table.inst { 
	position: relative;
	width: 600px;
	top: 0px;
	border: 0px;
	}

table.inst td.instruction{
	width: 300px;
	font-size: 20px;
}

table.inst td.setsumei{
	width: 300px;
	font-size: 20px;
}

pre.code {
	width: 600px;
	color: #000;
	text-align: left;
	font-size: 20px;
	background-color:#EBF4FA;
	padding: 5px 15px;
	}

table.kentable { 
	width: 600px;
	top: 0px;
	border: 0px;
	}

table.kentable td.photo{
	font-size: 20px;
}

table.kentable td.comment{
	font-size: 20px;
}


td.bdr2{
	width: 100px;
}

.cmm2 {
	background-color: #EBF4FA;
	color: #000;
	font-size: 18px;
	text-align: left;
	padding: 5px 15px;
	width: 560px;
}
